.userData {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 100px;
    font-weight: 100;

    span {
      font-weight: 700;
    }
  }

  button {
    border: none;
    background-color: #8e728b;
    color: #e9f8ff;
    font-size: 1.3em;
    padding: 4px 10px;

    &:hover {
      background-color: #be7f96;
    }

    &:active {
      background-color: white;
      border: 1px solid #be7f96;
      color: #be7f96;
    }
  }
}
